doctype html
html(lang="en")
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='csrf-token', content=_csrf)
	
	title Nodelander Admin

	link(href=assetbase + 'lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
	link(href=assetbase + 'lib/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')   
	link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,600', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='/css/style.css')

	script(src=assetbase + 'lib/jquery/dist/jquery.min.js')
	script(src=assetbase + 'lib/bootstrap/dist/js/bootstrap.min.js')
	script(src=assetbase + 'lib/jquery-validation/dist/jquery.validate.min.js')

body
	include partials/navbar
	.main
		block content
