link(href=assetbase + 'lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href=assetbase + 'lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')   

link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,600', rel='stylesheet')
link(rel='stylesheet', href='/css/style.css')

script(src=assetbase + 'lib/jquery/dist/jquery.min.js')
script(src=assetbase + 'lib/bootstrap/dist/js/bootstrap.min.js')
script(src=assetbase + 'lib/jquery-validate/dist/jquery-validate.min.js')

script(src='js/custom.js')