doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='author', content=seo_author)
		meta(name='description', content=seo_description)
		link(rel='canonical', href=seo_canonical)
	
		meta(name='twitter:card', content=twitter_card)
		meta(name='twitter:site', content=twitter_site)
		meta(name='twitter:creator', content=twitter_creator)
		meta(name='twitter:title', content=twitter_title)
		meta(name='twitter:description', content=twitter_description)
		meta(name='twitter:image:src', content=twitter_image_src)

		meta(property='og:url', content=faceboook_og_url)
		meta(property='og:type', content=facebook_og_type)
		meta(property='og:title', content=facebook_og_title)
		meta(property='og:image', content=facebook_og_image)
		meta(property='og:description', content=facebook_og_description)
		meta(property='og:site_name', content=faceboook_og_site_name)

		meta(itemprop='name', content=google_name)
		meta(itemprop='description', content=google_description)
		meta(itemprop='image', content=google_image)

		title Nodelander | Fast Deploying NodeJS Landing Page and Lead Capture

		include includes

	body
		block content
		include ../../shared/partials/footer
